{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="img/bg.jpg">
		<div class="container">
			<div class="hero-text text-white">
				<h2>Connectez vous</h2>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<form class="intro-newslatter" method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="last-s" placeholder="E-mail" required autofocus>
                            <input type="password" name="password" id="inputPassword" class="last-s" placeholder="Password" required>
						<button class="site-btn" type="submit">Login</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

{% endblock %}
