<form method="post" action="{{ path('emploidutemps_delete', {'id': emploidutemp.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emploidutemp.id) }}">
    <button class="btn site-btn">Delete</button>
</form>
