{% extends 'base.html.twig' %}

{% block title %}Edit Emploidutemps{% endblock %}

{% block body %}
 

    {{ include('emploidutemps/_form.html.twig', {'button_label': 'Update', 'label': 'Modifier'}) }}

{% endblock %}
