{% extends 'base.html.twig' %}

{% block title %}Emploidutemps index{% endblock %}

{% block body %}


    <a href="{{ path('emploidutemps_new') }}"><img class="mini-2" alt="add" src="{{ asset('img/add.png') }}"></a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emploidutemp in emploidutemps %}
            <tr>
                <td>{{ emploidutemp.id }}</td>
                <td>
                    <a href="{{ path('emploidutemps_show', {'id': emploidutemp.id}) }}"><img class="mini" alt="show" src="{{ asset('img/search.png') }}"></a>
                    <a href="{{ path('emploidutemps_edit', {'id': emploidutemp.id}) }}"><img class="mini" alt="edit" src="{{ asset('img/pencil.png') }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
