{% extends 'base.html.twig' %}

{% block title %}Emploidutemps{% endblock %}

{% block body %}
    <h1>Emploi du temps</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emploidutemp.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('emploidutemps_edit', {'id': emploidutemp.id}) }}"><img class="mini-2" alt="edit" src="{{ asset('img/pencil.png') }}"></a>

    {{ include('emploidutemps/_delete_form.html.twig') }}
{% endblock %}
