{% extends 'base.html.twig' %}

{%  block title %}
    Yes we cnam !                                                                                                                                                                     Yes we cnam !
{% endblock %}

{% block body %}
    {% block content %}
        <section class="signup-section spad">
            <div class="signup-bg set-bg" data-setbg="{{ asset('img/signup-bg.jpg') }}"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="signup-warp">
                            <div class="section-title text-white text-left">
                                <h2>Vous souhaitez nous contacter ?</h2>
                                <p>Veuillez reseigner vos informations, nous vous contacterons dès que possible !</p>
                            </div>
                            <form class="signup-form" onsubmit="checkForm(this)">
                                <input type="text" placeholder="Your Name" name="name" required>
                                <input type="text" placeholder="Your E-mail" name="email" required>
                                <input type="text" placeholder="Your Phone" name="phone" required>
                                <input type="text" placeholder="Message" name="message" required>
                                <button class="site-btn" >Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
{% endblock %}