{% extends 'base.html.twig' %}

{%  block title %}
    Yes we cnam !
{% endblock %}

{% block body %}
    {% block content %}
        <section class="course-section spad">
            <div class="container">
                <div class="section-title mb-0">
                    <h2 class="index-vitrine-h2">Nos formations</h2>
                </div>
            </div>
            <div class="course-warp">
                <ul class="course-filter controls">
                    <li class="control active" data-filter="all">All</li>
                    <li class="control" data-filter=".master">Master</li>
                    <li class="control" data-filter=".mastere">Mastère</li>
                    <li class="control" data-filter=".ingenieur">Ingénieur</li>
                    <li class="control" data-filter=".licence">Licence</li>
                    <li class="control" data-filter=".projetrd">R&D</li>
                    <li class="control" data-filter=".vae">VAE</li>
                </ul>
                <div class="row course-items-area">

                    <div class="mix col-lg-3 col-md-4 col-sm-6 master">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/1.jpg') }}">
                                <a href="{{ asset('documents/6.tarifs-01-03-2021.pdf') }}" target="_blank"><div class="price">Prix</div></a>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>Master JMIN</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <a href="{{ asset('documents/2017_FichePresentation_MasterJMIN.pdf') }}" target="_blank"><button class="site-btn btn-formation-vitrine-main">En savoir +</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 mastere">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/1.jpg') }}">
                                <a href="{{ asset('documents/6.tarifs-01-03-2021.pdf') }}" target="_blank"><div class="price">Prix</div></a>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>Mastère IDE</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <a href="{{ asset('documents/2017_FichePresentation_MastereIDE.pdf') }}" target="_blank"><button class="site-btn btn-formation-vitrine-main">En savoir +</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 ingenieur">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/1.jpg') }}">
                                <a href="{{ asset('documents/6.tarifs-01-03-2021.pdf') }}" target="_blank"><div class="price">Prix</div></a>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>Ingénieur·e IM</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <a href="{{ asset('documents/2017_FichePresentation_Ingenieur.e.sSTMN.pdf') }}" target="_blank"><button class="site-btn btn-formation-vitrine-main">En savoir +</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 licence">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/1.jpg') }}">
                                <a href="{{ asset('documents/6.tarifs-01-03-2021.pdf') }}" target="_blank"><div class="price">Prix</div></a>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>Licence jeux vidéo</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <a href="{{ asset('documents/licence-informatique-jeux-video.pdf') }}" target="_blank"><button class="site-btn btn-formation-vitrine-main">En savoir +</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 projetrd">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/1.jpg') }}">
                                <a href="{{ asset('documents/6.tarifs-01-03-2021.pdf') }}" target="_blank"><div class="price">Prix</div></a>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>Projet R&D</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <a href="{{ asset('documents/2017_FichePresentation_ProjetsR_D.pdf') }}" target="_blank"><button class="site-btn btn-formation-vitrine-main">En savoir +</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 vae">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/1.jpg') }}">
                                <a href="{{ asset('documents/6.tarifs-01-03-2021.pdf') }}" target="_blank"><div class="price">Prix</div></a>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>VAE</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <a href="{{ asset('documents/2017_FichePresentation_VAE.pdf') }}" target="_blank"><button class="site-btn btn-formation-vitrine-main">En savoir +</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--
                    <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/4.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>IT Development</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/4.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 finance">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/categories/5.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>IT Development</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/5.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 design">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/6.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>Socia Media</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/6.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 web">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/7.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>IT Development</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/7.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/8.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>HTML 5</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/8.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->

                </div>
            </div>
        </section>
    {% endblock %}
{% endblock %}
