{% extends 'base.html.twig' %}

{%  block title %}
    Yes we cnam !
{% endblock %}

{% block body %}
    {% block content %}
                <!-- Hero section -->
        <section class="hero-section set-bg" data-setbg="{{ asset('img/bg.jpg') }}">
            <div class="container">
                <div class="hero-text text-white">
                    <h2>Bienvenue sur le site du CNAM</h2>
                    <p>Vous avez toujours rêvé d'allier votre goût pour les arts numérique et les métiers de l'informatique ? <br>
                        Et bien... C'est école est faite pour vous, c'est sûr !</p>
                    <a href="{{ path('formations') }}"><button class="site-btn btn-formation-vitrine-main">Nos formations</button></a>
                </div>
            </div>
        </section>
        <!-- Hero section end -->


        <!-- categories section -->
        <section class="categories-section spad">
            <div class="container">
                <div class="section-title">
                    <h2 class="index-vitrine-h2">École nationale du jeu et des médias interactifs numériques</h2>
                    <p>Entrez dans l'univers de la grande école publique dédiée à la formation, aux métiers et à la recherche dans le domaine du jeu vidéo et des médias interactifs numériques !</p>
                </div>
                <div class="row">
                    <!-- categorie -->
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/2.jpg') }}"></div>
                            <div class="ci-text">
                                <h5 class="index-vitrine-h5">Former</h5>
                                <p>Former des professionnel·le·s, des chercheur·euse·s et des artistes de haut niveau</p>
                            </div>
                        </div>
                    </div>
                    <!-- categorie -->
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/4.jpg') }}"></div>
                            <div class="ci-text">
                                <h5 class="index-vitrine-h5">Recherche</h5>
                                <p>Constituer un lieu de recherche fondamentale et appliquée dans les domaines scientifiques et techniques, supports des médias interactifs</p>
                            </div>
                        </div>
                    </div>
                    <!-- categorie -->
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/3.jpg') }}"></div>
                            <div class="ci-text">
                                <h5 class="index-vitrine-h5">Ouverture</h5>
                                <p>Proposer une ouverture aux professionnel·le·s de l’audiovisuel cherchant une nouvelle orientation et une qualification</p>
                            </div>
                        </div>
                    </div>

                    <!-- categorie
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/1.jpg') }}"></div>
                            <div class="ci-text">
                                <h5>IT Development</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                                <span>120 Courses</span>
                            </div>
                        </div>
                    </div>
                     categorie
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/4.jpg') }}"></div>
                            <div class="ci-text">
                                <h5>Social Media</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                                <span>40 Courses</span>
                            </div>
                        </div>
                    </div>
                    categorie
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/6.jpg') }}"></div>
                            <div class="ci-text">
                                <h5>Cryptocurrencies</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                                <span>25 Courses</span>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </section>
        <!-- categories section end -->


        <!-- search section
        <section class="search-section">
            <div class="container">
                <div class="search-warp">
                    <div class="section-title text-white">
                        <h2>Search your course</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1">

                            <form class="course-search-form">
                                <input type="text" placeholder="Course">
                                <input type="text" class="last-m" placeholder="Category">
                                <button class="site-btn">Search Couse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         search section end -->
        <!--
        <section class="course-section spad">
            <div class="container">
                <div class="section-title mb-0">
                    <h2>Featured Courses</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                </div>
            </div>
            <div class="course-warp">
                <ul class="course-filter controls">
                    <li class="control active" data-filter="all">All</li>
                    <li class="control" data-filter=".finance">Finance</li>
                    <li class="control" data-filter=".design">Design</li>
                    <li class="control" data-filter=".web">Web Development</li>
                    <li class="control" data-filter=".photo">Photography</li>
                </ul>
                <div class="row course-items-area">

                    <div class="mix col-lg-3 col-md-4 col-sm-6 finance">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/1.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>Art & Crafts</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/1.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 design">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/2.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>IT Development</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/2.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 web">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/3.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>Graphic Design</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/3.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/4.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>IT Development</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/4.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 finance">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/categories/5.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>IT Development</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/5.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 design">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/6.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>Socia Media</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/6.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 web">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/7.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>IT Development</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/7.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 photo">
                        <div class="course-item">
                            <div class="course-thumb set-bg" data-setbg="{{ asset('img/courses/8.jpg') }}">
                                <div class="price">Price: $15</div>
                            </div>
                            <div class="course-info">
                                <div class="course-text">
                                    <h5>HTML 5</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    <div class="students">120 Students</div>
                                </div>
                                <div class="course-author">
                                    <div class="ca-pic set-bg" data-setbg="{{ asset('img/authors/8.jpg') }}"></div>
                                    <p>William Parker, <span>Developer</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         course section end -->
        <!-- signup section
        <section class="signup-section spad">
            <div class="signup-bg set-bg" data-setbg="{{ asset('img/signup-bg.jpg') }}"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="signup-warp">
                            <div class="section-title text-white text-left">
                                <h2>Sign up to became a teacher</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                            </div>
                            <form class="signup-form">
                                <input type="text" placeholder="Your Name">
                                <input type="text" placeholder="Your E-mail">
                                <input type="text" placeholder="Your Phone">
                                <label for="v-upload" class="file-up-btn">Upload Course</label>
                                <input type="file" id="v-upload">
                                <button class="site-btn">Search Couse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        signup section end -->


        <!-- banner section -->
        <section class="banner-section spad">
            <div class="container">
                <div class="section-title mb-0 pb-2">
                    <h2 class="index-vitrine-h2">Vous désirez plus d'information ?</h2>
                    <p>N'hésitez pas à télécharger notre plaquette d'information et découvrir ce qui rend le cnam enjmin unique dans son genre !</p>
                </div>
                <div class="text-center pt-5">
                    <a href="{{ asset('documents/2017_FichePresentation_CNAM-ENJMIN.pdf') }}" target="blank" class="site-btn">Télécharger</a>
                </div>
            </div>
        </section>
        <!-- banner section end -->

    {% endblock %}
{% endblock %}
