{% extends 'base.html.twig' %}

{%  block title %}
    Yes we cnam !                                                                                                                                                                     Yes we cnam !
{% endblock %}

{% block body %}
    {% block content %}
        <section class="container my-container-custom">
        {% for article in articles %}
            <article class="postcard blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="{{ asset(article.media) }}" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue">{{ article.name }}</h1>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">{{ article.privacy }}</div>
                </div>
            </article>
        {% endfor %}
        </section>
    {% endblock %}
{% endblock %}