{% extends 'base.html.twig' %}

{%  block title %}
    Yes we cnam !                                                                                                                                                                     Yes we cnam !
{% endblock %}
{% block body %}

 {% block content %}
        <!-- time line section-->
        <section class="spad">
            <div class="container">
                <div class="section-title mb-0">
                    <h2 class="index-vitrine-h2">Historique de l'école</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-timeline">
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-year">
                                        <span>2001</span>
                                    </div>
                                    <div class="timeline-icon">
                                        <i class="fa fa-rocket"></i>
                                    </div>
                                    <h3 class="title">Le commencement</h3>
                                    <p class="description">
                                        L’histoire du Cnam-Enjmin commence en 2001 par la création d’un diplôme commun au Cnam et aux universités de Poitiers et La Rochelle : le DESS jeu vidéo et médias interactifs ; fruit également d'une collaboration avec la Cité Internationale de la Bande Dessinée et de l'Image et le Cnam Poitou-Charentes.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-year">
                                        <span>2004</span>
                                    </div>
                                    <div class="timeline-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <h3 class="title">Des partenariats</h3>
                                    <p class="description">
                                        Elle se poursuit en 2004 par la création du master jeux et médias interactifs numériques, cohabilité par les mêmes établissements et l’installation dans les locaux de la Cité Internationale de la Bande Dessinée
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-year">
                                        <span>2005</span>
                                    </div>
                                    <div class="timeline-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <h3 class="title">Emancipation</h3>
                                    <p class="description">
                                        À la demande des industriels du jeu vidéo et sur décision du Premier Ministre, Jean-Pierre RAFFARIN, le Cnam-Enjmin devient un institut du Cnam en 2005.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-year">
                                        <span>2011</span>
                                    </div>
                                    <div class="timeline-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <h3 class="title">Des gobelins ? Où ça ?!</h3>
                                    <p class="description">
                                        Le Mastère Spécialisé® Interactive Digital Experiences (MS IDE) est créé, il est piloté en collaboration avec Gobelins, l’école de l’image.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-year">
                                        <span>2013</span>
                                    </div>
                                    <div class="timeline-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <h3 class="title">Et de 10 !</h3>
                                    <p class="description">
                                        La 10e promotion du master JMIN arrive à l'école.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-year">
                                        <span>2014</span>
                                    </div>
                                    <div class="timeline-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <h3 class="title">Des ingénieurs sur le nil</h3>
                                    <p class="description">
                                        Le diplôme d’ingénieur informatique en sciences et technologies des médias numériques (STMN) ouvre.
                                        Le Cnam-Enjmin s’installe dans les nouveaux locaux du Nil.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- time line section end -->

        <section class="signup-section spad">
            <div class="signup-bg set-bg" data-setbg="{{ asset('img/signup-bg.jpg') }}"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="signup-warp">
                            <div class="section-title text-white text-left">
                                <h2 class="index-vitrine-h2">Relations internationales</h2>
                                <p class="p-presentation">Le nouveau projet d’établissement Cnam-Enjmin fait du rayonnement international de notre école un axe prioritaire de son développement en l’adossant à l’élargissement des relations avec les industries numériques.</p>
                                <p>L’international est un moyen que nous privilégions pour consolider l’excellence pédagogique de notre institution, développer la mobilité étudiante et enseignante, partager notre expertise en direction des industries des médias interactifs numériques et mettre en œuvre de nouvelles offres de formation transnationales de même que des programmes de recherche collaboratifs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- banner section -->
        <section class="banner-section spad">
            <div class="container">
                <div class="section-title mb-0 pb-2">
                    <h2 class="index-vitrine-h2">Vous désirez plus d'information ?</h2>
                    <p>N'hésitez pas à télécharger notre plaquette d'information ou à nous contacter pour découvrir ce qui rend le cnam enjmin unique dans son genre !</p>
                </div>
                <div class="text-center pt-5">
                    <a href="{{ asset('documents/2017_FichePresentation_CNAM-ENJMIN.pdf') }}" target="blank" class="site-btn">Télécharger</a>
                    <a href="{{ path('contact') }}" class="site-btn">Contact</a>
                </div>
            </div>
        </section>
        <!-- banner section end -->

    {% endblock %}
{%endblock%}