{% extends 'base.html.twig' %}

{%  block title %}
    Yes we cnam !
{% endblock %}

 {% block body %}
    {% block content %}



        	<!-- search section -->
	<section class="search-section ss-other-page">
		<div class="container">
			<div class="search-warp">
				<div class="section-title text-white">

					<h2><span>Profil 
                    {% if app.user %}
                        <a href="{{ path('user_edit', {'id': app.user.id}) }}"><img class="mini" alt="edit" src="{{ asset('img/pencil.png') }}"></a>
                    {% endif%}
                    </span></h2>
				</div>
				<div class="row section-title text-white">
					<div class="col-lg-4">
						<h4><span>{{app.user.firstname }} {{app.user.lastname }}</span></h4>
                       
					</div>
                    <div class="col-lg-4">                       
					</div>
                    <div class="col-lg-4">
						<h4><span>{{app.user.email }}</span></h4>
					</div>
				</div>
                <div class="padtop row section-title text-white">
					<div class="col-lg-4">
                    {% for role in app.user.roles %}
                        <h4><span>
                            {% if role == 'ROLE_ENSEIGNANT' %}
                                ENSEIGNANT
                            {% elseif role == 'ROLE_STUDENT' %}
                                STUDENT
                            {% elseif role == 'ROLE_ADMIN' %}
                                ADMIN
                            {% elseif role == 'ROLE_ADMIN_BDE' %}
                                BDE
                            {% elseif role == 'ROLE_DELEGUE' %}
                                DELEGUE
                           
                            {% endif %}
                        </span></h4>
                    {% endfor %}
					</div>
                    <div class="col-lg-4">
					</div>
                    <div class="col-lg-4">
                        {% if is_granted('ROLE_ENSEIGNANT') or is_granted('ROLE_ADMIN') %}
            
                            {% for matiere in matieres %}
                               <h4><span>{{ matiere.name }}</span></h4>
                            {% endfor %}
                        {% else %}
                            <h4><span>Promotion {{app.user.idpromotion.annee }} - {{app.user.idpromotion.annee +3 }}</span><h4>
                        {% endif %}

					</div>
				</div>
                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content w-75">
                        <div class="modal-header w-100">
                            <span class="close pull-left">&times;</span>
                        </div>
                        <div class="modal-body w-100">
                            <form id="updateEvent" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="title">Titre</label>
                                    <input type="text" class="form-control" id="title" placeholder="Titre de l'évènement">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description" placeholder="Description">
                                </div>
                                <div class="form-group">
                                    <label for="start">Date début</label>
                                    <input type="datetime-local" class="form-control" id="start">
                                </div>
                                <div class="form-group">
                                    <label for="end">Date fin</label>
                                    <input type="datetime-local" class="form-control" id="end">
                                </div>
                                    <input id="idEvent" type="hidden" value="">
                                <button type="button" id="upButton" class="btn btn-primary" style="display: none;">Submit</button>
                                <button type="button" id="inButton" class="btn btn-primary" style="display: none;">Submit</button>

                            </form>
                        </div>
                        <div class="modal-footer w-100">

                        </div>
                    </div>

                </div>
            </div>
		</div>
	</section>
	<!-- search section end -->
    <section class="categories-section spad">
        {% block calendar %}
            {% embed "vitrine/calendar.html.twig" %}
            {% endembed %}
        {% endblock %}
    </section>
        <!-- categories section -->
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENSEIGNANT') or is_granted('ROLE_ADMIN_BDE') or is_granted('ROLE_DELEGUE')%}
        <section class="categories-section spad">
            <div class="container">
            
                <div class="section-title">
                    <h2 class="index-vitrine-h2">Panneau d'administration</h2>
                </div>
                <div class="row">
                    <!-- categorie -->
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENSEIGNANT')  or is_granted('ROLE_ADMIN_BDE') or is_granted('ROLE_DELEGUE')%}
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/article.jpg') }}"></div>
                            <a href="{{ path('article_index') }}">
                                <div class="ci-text">
                                    <h5 class="index-vitrine-h5">Article</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENSEIGNANT') %}
                    <!-- categorie -->
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/matiere.jpg') }}"></div>
                            <a href="{{ path('matiere_index') }}">
                                <div class="ci-text">
                                    <h5 class="index-vitrine-h5">Matiere</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/note.jpg') }}"></div>
                            <a href="{{ path('note_index') }}">
                                <div class="ci-text">
                                    <h5 class="index-vitrine-h5">Note</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <!-- categorie -->
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/projet.jpg') }}"></div>
                            <a href="{{ path('projet_index') }}">
                                <div class="ci-text">
                                    <h5 class="index-vitrine-h5">Projet</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <!-- categorie -->
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/portfolio.jpg') }}"></div>
                            <a href="{{ path('portfolio_index') }}">
                                <div class="ci-text">
                                    <h5 class="index-vitrine-h5">Portfolio</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/promotion.jpg') }}"></div>
                            <a href="{{ path('promotion_index') }}">
                                <div class="ci-text">
                                    <h5 class="index-vitrine-h5">Promotion</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- categorie -->
                    <div class="col-lg-4 col-md-6">
                        <div class="categorie-item">
                            <div class="ci-thumb set-bg" data-setbg="{{ asset('img/categories/user.jpg') }}"></div>
                            <a href="{{ path('user_index') }}">
                                <div class="ci-text">
                                    <h5 class="index-vitrine-h5">User</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- categories section end -->

    {% endif %}
    {% endblock %}
{% endblock %}