{% extends 'base.html.twig' %}

{% block title %}Edit Portfolio{% endblock %}

{% block body %}


    {{ include('portfolio/_form.html.twig', {'button_label': 'Update', 'label': 'Modifier'}) }}


{% endblock %}
