{% extends 'base.html.twig' %}

{% block title %}Portfolio index{% endblock %}

{% block body %}


    <a href="{{ path('portfolio_new') }}"><img class="mini-2" alt="add" src="{{ asset('img/add.png') }}"></a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for portfolio in portfolios %}
            <tr>
                <td>{{ portfolio.id }}</td>
                <td>{{ portfolio.cv }}</td>
                <td>
                    <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}"><img class="mini" alt="show" src="{{ asset('img/search.png') }}"></a>
                    <a href="{{ path('portfolio_edit', {'id': portfolio.id}) }}"><img class="mini" alt="edit" src="{{ asset('img/pencil.png') }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
