{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <h1>Portfolio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ portfolio.id }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{{ portfolio.cv }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('portfolio_edit', {'id': portfolio.id}) }}"><img class="mini-2" alt="edit" src="{{ asset('img/pencil.png') }}"></a>

    {{ include('portfolio/_delete_form.html.twig') }}
{% endblock %}
