{% extends 'base.html.twig' %}

{% block title %}Edit Projet{% endblock %}

{% block body %}


    {{ include('projet/_form.html.twig', {'button_label': 'Update', 'label': 'Modifier'}) }}

  
{% endblock %}
