{% extends 'base.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block body %}


    <a href="{{ path('projet_new') }}"><img class="mini-2" alt="add" src="{{ asset('img/add.png') }}"></a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.name }}</td>
                <td>
                    <a href="{{ path('projet_show', {'id': projet.id}) }}"><img class="mini" alt="show" src="{{ asset('img/search.png') }}"></a>
                    <a href="{{ path('projet_edit', {'id': projet.id}) }}"><img class="mini" alt="edit" src="{{ asset('img/pencil.png') }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 {% endblock %}
