{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <h1>{{ projet.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ projet.name }}</td>
            </tr>
            <tr>
                <th>Users</th>
                <td>
                {% for user in users %}
                    {{ user.firstname }} {{ user.lastname }}
                {% else %} 
                    <td colspan="4">no records found</td>
                {% endfor %}
                    </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('projet_edit', {'id': projet.id}) }}"><img class="mini-2" alt="edit" src="{{ asset('img/pencil.png') }}"></a>

    {{ include('projet/_delete_form.html.twig') }}
{% endblock %}
