{% extends 'base.html.twig' %}

{% block title %}Edit Matiere{% endblock %}

{% block body %}


    {{ include('matiere/_form.html.twig', {'button_label': 'Update', 'label': 'Modifier'}) }}

    

{% endblock %}
