{% extends 'base.html.twig' %}

{% block title %}Matiere index{% endblock %}

{% block body %}


    <a href="{{ path('matiere_new') }}"><img class="mini-2" alt="add" src="{{ asset('img/add.png') }}"></a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.name }}</td>
                <td>
                    <a href="{{ path('matiere_show', {'id': matiere.id}) }}"><img class="mini" alt="show" src="{{ asset('img/search.png') }}"></a>
                    <a href="{{ path('matiere_edit', {'id': matiere.id}) }}"><img class="mini" alt="edit" src="{{ asset('img/pencil.png') }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
