{% extends 'base.html.twig' %}

{% block title %}Matiere{% endblock %}

{% block body %}
    <h1>{{ matiere.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ matiere.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ matiere.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('matiere_edit', {'id': matiere.id}) }}"><img class="mini-2" alt="edit" src="{{ asset('img/pencil.png') }}"></a>

    {{ include('matiere/_delete_form.html.twig') }}
{% endblock %}
