
.index-vitrine-h2, .index-vitrine-h5{
    color: #c1002a;
}
.btn-formation-vitrine-main{
    margin-top: 10%;
}

.mini{
    width: 30px;
}

.mini-2{
    width: 50px;
    margin: 1%;
}

.mini-{
    width: 50px;
    margin: 1%;
}
.p-presentation{
    padding-bottom: 5%;
    padding-top: 5%;
}

.my-container-custom{
    padding-top: 2%;
}

.padtop {
    margin-top: 25px;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    margin: 0;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

