	<!-- Page -->
	<section class="contact-page spad pb-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="contact-form-warp">
						<div class="section-title text-white text-left">
							<h2>{{ label|default('Ajouter') }}</h2>
						</div>
                        
						<div class="contact-form">
                        {{ form_start(form) }}
                            {{ form_row(form.annee) }}
                           <button class="btn site-btn">{{ button_label|default('Save') }}</button>
						{{ form_end(form) }}
                        </div>
                    
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page end -->