{% extends 'base.html.twig' %}

{% block title %}Edit Promotion{% endblock %}

{% block body %}


    {{ include('promotion/_form.html.twig', {'button_label': 'Update', 'label': 'Modifier'}) }}

{% endblock %}
