{% extends 'base.html.twig' %}

{% block title %}Promotion index{% endblock %}


{% block body %}


    <a href="{{ path('promotion_new') }}"><img class="mini-2" alt="add" src="{{ asset('img/add.png') }}"></a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Annee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.id }}</td>
                <td>{{ promotion.annee }}</td>
                <td>
                    <a href="{{ path('promotion_show', {'id': promotion.id}) }}"><img class="mini" alt="show" src="{{ asset('img/search.png') }}"></a>
                    <a href="{{ path('promotion_edit', {'id': promotion.id}) }}"><img class="mini" alt="edit" src="{{ asset('img/pencil.png') }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
