{% extends 'base.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block body %}
    <h1>{{ promotion.annee }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ promotion.annee }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('promotion_edit', {'id': promotion.id}) }}"><img class="mini-2" alt="edit" src="{{ asset('img/pencil.png') }}"></a>

    {{ include('promotion/_delete_form.html.twig') }}
{% endblock %}
