{% extends 'base.html.twig' %}

{% block title %}Edit Note{% endblock %}

{% block body %}


    {{ include('note/_form.html.twig', {'button_label': 'Update', 'label': 'Modifier' }) }}


{% endblock %}
