{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}


    <a href="{{ path('note_new') }}"><img class="mini-2" alt="add" src="{{ asset('img/add.png') }}"></a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.value }}</td>
                <td>
                    <a href="{{ path('note_show', {'id': note.id}) }}"><img class="mini" alt="show" src="{{ asset('img/search.png') }}"></a>
                    <a href="{{ path('note_edit', {'id': note.id}) }}"><img class="mini" alt="edit" src="{{ asset('img/pencil.png') }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
