{% extends 'base.html.twig' %}

{% block title %}Note{% endblock %}

{% block body %}
    <h1>Note</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ note.value }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('note_edit', {'id': note.id}) }}"><img class="mini-2" alt="edit" src="{{ asset('img/pencil.png') }}"></a>

    {{ include('note/_delete_form.html.twig') }}
{% endblock %}
