<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<link href="https://unpkg.com/fullcalendar-scheduler@5.1.0/main.min.css" rel="stylesheet"/>


		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
		<link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet"/>
		<link href="{{ asset('assets/css/font.css') }}" rel="stylesheet"/>
		<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
		<link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet"/>
		<link href="{{ asset('assets/css/timeline.css') }}" rel="stylesheet"/>
		<link href="{{ asset('assets/css/article.scss') }}" rel="stylesheet" type="text/plain" />
		{# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        
    </head>
	<body>
		{% block header %}
		<!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

			<!-- Header section -->
			<header class="header-section">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-2">
							<div class="site-logo">
								<img src="{{ asset('img/logo.png') }}" alt="">
							</div>
							<div class="nav-switch">
								<i class="fa fa-bars"></i>
							</div>
						</div>
						<div class="col-lg-10 col-md-10">
							
							
							
							<nav class="main-menu">
								<ul>
									<li><a href="{{ path('vitrine') }}" >Accueil</a></li>
									<li><a href="{{ path('presentation') }}">Présentation</a></li>
									<li><a href="{{ path('formations')}}">Formations</a></li>
									<li><a href="{{ path('news') }}">News</a></li>
									<li><a href="{{  path('contact') }}">Contact</a></li>
									{% if app.user %}
										<li><a href="{{  path('profil') }}">Profil</a></li>
            							<li><a href="{{ path('app_logout') }}" class="site-btn header-btn">Logout</a></li>
									{% else %}
										<li><a href="{{ path('app_login') }}" class="site-btn header-btn">Login</a></li>
    								{% endif %}
									
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!-- Header section end -->
		{% endblock %}
		
			
			{% if (app.request.get('_route') != "app_login" and app.request.get('_route') != "vitrine") %}
				<!-- Page info -->
					<div class="page-info-section set-bg" data-setbg="{{ asset('img/page-bg/2.jpg') }}">
						<div class="container">
							{% block breadcrumb %}
							   	{% embed "breadcrumb.html.twig" %}
   								{% endembed %}
							{% endblock %}
						</div>
					</div>
				<!-- Page info end -->
			{% endif %}

	
  

        {% block body %}
		
		{% endblock %}
    
	{% block footer %}
	<!-- footer section -->
	<footer class="footer-section spad pb-0">
		<div class="footer-top">
			<div class="footer-warp">
				<div class="row">
					<div class="widget-item">
						<h4>Contact Info</h4>
						<ul class="contact-list">
							<li>1481 Creekside Lane <br>Avila Beach, CA 931</li>
							<li>+53 345 7953 32453</li>
							<li>yourmail@gmail.com</li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Engeneering</h4>
						<ul>
							<li><a href="">Applied Studies</a></li>
							<li><a href="">Computer Engeneering</a></li>
							<li><a href="">Software Engeneering</a></li>
							<li><a href="">Informational Engeneering</a></li>
							<li><a href="">System Engeneering</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Graphic Design</h4>
						<ul>
							<li><a href="">Applied Studies</a></li>
							<li><a href="">Computer Engeneering</a></li>
							<li><a href="">Software Engeneering</a></li>
							<li><a href="">Informational Engeneering</a></li>
							<li><a href="">System Engeneering</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Development</h4>
						<ul>
							<li><a href="">Applied Studies</a></li>
							<li><a href="">Computer Engeneering</a></li>
							<li><a href="">Software Engeneering</a></li>
							<li><a href="">Informational Engeneering</a></li>
							<li><a href="">System Engeneering</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Newsletter</h4>
						<form class="footer-newslatter">
							<input type="email" placeholder="E-mail">
							<button class="site-btn">Subscribe</button>
							<p>*We don’t spam</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-warp">
				<ul class="footer-menu">
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Register</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
				<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
			</div>
		</div>
	</footer> 
			
		{% endblock %}
</body>
				 
    {% block javascripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
			<script src="{{ asset('assets/js/main.js') }}"></script>
            <script src="{{ asset('assets/js/mixitup.min.js') }}"></script>

			<script src="{{ asset('assets/js/circle-progress.min.js') }}"></script>
			<script src="{{ asset('assets/js/mixitup.min.js') }}"></script>

			<script src="https://unpkg.com/fullcalendar-scheduler@5.1.0/main.min.js"></script>
			{% if calendar is defined %}
				{% embed "calendar.html.twig" %}
				{% endembed %}
				<script src="{{ asset('assets/js/calendar.js') }}"> </script>
			{% endif %}
	{% endblock %}
</html>
