{% block breadcrumb %}
    <div class="site-breadcrumb">
    <a href="{{ path('vitrine') }}">Accueil</a>
    {% if type == "index" %}        	
        <a href="{{ path('profil') }}">Administration</a>
		<span>{{level}}</span>
    {% elseif (type == "admin") %}        	
        <a href="{{ path('profil') }}">Administration</a>
        <a href="{{ path(route_last) }}">{{level_last}}</a>
        <span>{{level}}</span>
    {% elseif (type == "global") %}        	
		  <span>{{level}}</span>
    {% endif %}
	</div>
{% endblock %}