{% if is_granted('ROLE_ADMIN') %}
    <script>

        let modal = document.getElementById("myModal");
        let span = document.getElementsByClassName("close")[0];
        let upButton = document.getElementById("upButton");

        let title = document.getElementById("title");
        let description = document.getElementById("description");
        let start = document.getElementById("start");
        let end = document.getElementById("end");
        let file = document.getElementById("url");
        let id = document.getElementById("idEvent");

        let form = document.getElementById("updateEvent");

        document.addEventListener('DOMContentLoaded', function() {
            let modal = document.getElementById("myModal");
            let span = document.getElementsByClassName("close")[0];
            let upButton = document.getElementById("upButton");
            let inButton = document.getElementById("inButton");


            let title = document.getElementById("title");
            let description = document.getElementById("description");
            let start = document.getElementById("start");
            let end = document.getElementById("end");
            let file = document.getElementById("url");
            let id = document.getElementById("idEvent");

            function showModal(info){
                id.value = info.event.id;
                modal.style.display = "block";
                inButton.style.display = "none";
                upButton.style.display = "block";
                title.value = info.event.title;
                description.value = info.event.extendedProps.description;

                let tempStart = new Date(info.event.start);
                start.value = tempStart.toISOString().slice(0, -1);

                let tempEnd = new Date(info.event.end);
                end.value = tempEnd.toISOString().slice(0, -1);

            }
            function showinModal(info){

                modal.style.display = "block";
                inButton.style.display = "block";
                upButton.style.display = "none";

                    title.value = "";
                    description.value = "";



                let tempStart = new Date(info.dateStr);
                start.value = tempStart.toISOString().slice(0, -1);
                let tempEnd = new Date(info.dateStr);
                tempEnd.setHours(tempEnd.getHours()+1)
                end.value = tempEnd.toISOString().slice(0, -1);

            }

            span.onclick = function() {
                modal.style.display = "none";
            }

            upButton.onclick = function(){
                let direction = `/api/event/`+id.value+`/edit`;
                let donnees = {
                    "title": title.value,
                    "description": description.value,
                    "start": start.value,
                    "end": end.value,
                    "allDay": false
                }

                let xhr = new XMLHttpRequest;
                xhr.open("PUT", direction);

                xhr.onreadystatechange = function (){
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status === 200 || xhr.status === 201) {
                            modal.style.display = "none";
                            location.href = "/profil";
                        }
                    }
                }

                xhr.send(JSON.stringify(donnees));
            }
            inButton.onclick = function(){
                let direction = `/api/event/new`;
                let donnees = {
                    "title": title.value,
                    "description": description.value,
                    "start": start.value,
                    "end": end.value,
                    "allDay": false

                }

                let xhr = new XMLHttpRequest;
                xhr.open("POST", direction);

                xhr.onreadystatechange = function (){
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status === 200 || xhr.status === 201) {
                            modal.style.display = "none";
                            location.href = "/profil";
                        }
                    }
                }

                xhr.send(JSON.stringify(donnees));
            }


            let calendarEl = document.getElementById('calendrier');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                allDaySlot: false,
                headerToolbar: {
                    right: 'next',
                    left:'prev',
                    center:"today"
                },
                selectable: true,
                firstDay: 1,
                events: {{ data_calendar | raw}},
                editable: true,
                eventResizableFromStart: true,
                eventClick: function (info){
                    showModal(info);
                },
                dateClick: function (info){
                    showinModal(info);
                }
            })

            calendar.on('eventChange', (brouette) => {
                let direction = `/api/event/${brouette.event.id}/edit`
                let donnees = {
                    "title": brouette.event.title,
                    "description": brouette.event.extendedProps.description,
                    "start": brouette.event.start,
                    "end": brouette.event.end,
                    "allDay": false

                }

                let xhr = new XMLHttpRequest;
                xhr.open("PUT", direction);
                xhr.send(JSON.stringify(donnees));

                console.log(donnees);
            })

            calendar.render();
        })
    </script>
{% else %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let calendarEl = document.getElementById('calendrier');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    right: 'next',
                    left:'prev',
                    center:"today"
                },
                firstDay: 1,
                events: {{ data_calendar | raw}},
            })
            calendar.render();
        });
    </script>

{% endif %}