{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}


    {{ include('article/_form.html.twig', {'button_label': 'Update', 'label': 'Modifier'}) }}

    

{% endblock %}
