{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}


    <a href="{{ path('article_new') }}"><img class="mini-2" alt="add" src="{{ asset('img/add.png') }}"></a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Media</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.privacy }}</td>
                <td>{{ article.media }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}"><img class="mini" alt="show" src="{{ asset('img/search.png') }}"></a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}"><img class="mini" alt="edit" src="{{ asset('img/pencil.png') }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
