{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>{{article.name}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.privacy }}</td>
            </tr>
            
            <tr>
                <th>Users</th>
                <td>
                {% for user in users %}
                    {{ user.firstname }} {{ user.lastname }}
                {% else %} 
                    <td colspan="4">no records found</td>
                {% endfor %}
                    </td>
            </tr>
        
        </tbody>
    </table>

    <a href="{{ path('article_edit', {'id': article.id}) }}"><img class="mini-2" alt="edit" src="{{ asset('img/pencil.png') }}"></a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
