{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    {{ include('user/_form.html.twig', {'button_label': 'Update', 'label': 'Modifier'}) }}


{% endblock %}
