{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}




{% block body %}
    
    


    <a href="{{ path('user_new') }}"><img class="mini-2" alt="add" src="{{ asset('img/add.png') }}"></a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>DateCreation</th>
                <th>DateDerniereConn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                {% for role in user.roles %}
                  
                            {% if role == 'ROLE_ENSEIGNANT' %}
                                ENSEIGNANT
                            {% elseif role == 'ROLE_STUDENT' %}
                                STUDENT
                            {% elseif role == 'ROLE_ADMIN' %}
                                ADMIN
                            {% elseif role == 'ROLE_ADMIN_BDE' %}
                                BDE
                            {% elseif role == 'ROLE_DELEGUE' %}
                                DELEGUE
                            {% endif %}
                     
                    {% endfor %}
                </td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.dateCreation|date("m/d/Y H:i:s") }}</td>
                <td>{{ user.dateDerniereConn|date("m/d/Y H:i:s") }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><img class="mini" alt="show" src="{{ asset('img/search.png') }}"></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><img class="mini" alt="edit" src="{{ asset('img/pencil.png') }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
