{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ user.lastname }} {{ user.firstname }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                {% for role in user.roles %}
                  
                            {% if role == 'ROLE_ENSEIGNANT' %}
                                ENSEIGNANT
                            {% elseif role == 'ROLE_STUDENT' %}
                                STUDENT
                            {% elseif role == 'ROLE_ADMIN' %}
                                ADMIN
                            {% elseif role == 'ROLE_ADMIN_BDE' %}
                                BDE
                            {% elseif role == 'ROLE_DELEGUE' %}
                                DELEGUE
                            {% endif %}
                     
                    {% endfor %}
                </td>
            </tr>
<!--        <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
           <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr> 
            <tr> -->
            
                <th>DateCreation</th>
                <td>{{ user.dateCreation|date("m/d/Y H:i:s") }} </td>
            </tr>
            <tr>
                <th>DateDerniereConn</th>
                <td>{{ user.dateDerniereConn|date("m/d/Y H:i:s") }} </td>
            </tr>
            <tr>
                {% if 'ROLE_ENSEIGNANT' in user.roles or 'ROLE_ADMIN' in user.roles %}
                            <th>Matiere</th>
                            <td>
                            {% for matiere in matieres %}
                               {{ matiere.name }} 
                            {% endfor %}
                            </td>
                        {% else %}
                            <th>Promotion</th>
                            <td>Promotion {{user.idpromotion.annee }} - {{user.idpromotion.annee +3 }}</td>
                        {% endif %}
            </tr>
        </tbody>
    </table>


    <a href="{{ path('user_edit', {'id': user.id}) }}"><img class="mini-2" alt="edit" src="{{ asset('img/pencil.png') }}"></a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
